
/FSharp.Core.dll
/FsLexYacc.Runtime.dll
/repro1885.fs
/test1.exe
/test1.fs
/test1.fsi
/test1.ml
/test1.mli
/test1compat.exe
/test1compat.ml
/test1compat.mli
/test1lex.fs
/test1lex.ml
/test1-unicode.exe
/test1-unicode.fs
/test1-unicode.fsi
/test1-unicode.ml
/test1-unicode.mli
/test1-unicode-lex.fs
/test1-unicode-lex.ml
/test2.exe
/test2.fs
/test2.fsi
/test2.ml
/test2.mli
/test2compat.exe
/test2compat.ml
/test2compat.mli
